.feedback-section .contacts {
    position: relative;
    top: 400px;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 50px;
  }
  
  .feedback-section .contacts .contact-title {
    border: 1px solid rgb(253, 116, 48);
    font-family: Montserrat, sans-serif;
    padding: 15px;
    font-size: 50px;
    border-radius: .1em;
    background: -webkit-linear-gradient(-259deg, rgb(96, 42, 16), rgb(253, 116, 48));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 1s alternate ease-in-out infinite;
  }
  
  .feedback-section .contacts .contact-information {
    display: flex;
    gap: 50px;
  }
  
  .feedback-section .contacts .contact-information h3 {
    color: #222222;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
  }
  .feedback-section .contacts .contact-information h3 span{
    color: rgb(253, 116, 48);
  }
  
  .feedback-section .contacts .contactform-title {
    font-family: Montserrat, sans-serif;
    position: relative;
    padding: 20px;
    color: rgb(253, 116, 48);
    font-weight: 300;
    font-size: 30px;
    border-radius: .1em;
  }
  

  @keyframes glow {
    0% {
      box-shadow: 0 0 8px black;
    }
  
    100% {
      box-shadow: 0 0 8px rgb(253, 116, 48);
    }
  }
  
  .feedback-section .contacts .contactform {
    display: grid;
    gap: 100px;
  }
  
  .feedback-section .contacts .contactform form {
    display: grid;
    text-align: center;
    gap: 30px;
  
  }
  .feedback-section .contacts .contactform label:nth-child(1) ,  .feedback-section .contacts .contactform label:nth-child(2){
    color: rgb(253, 116, 48);
  } 
  .feedback-section .contacts .contactform label {
    font-family: Montserrat, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 300;
  }
  
  .feedback-section .contacts .contactform input {
    border: none;
    border-radius: .3em;
    background-color: #222222;
    box-shadow: 0 0 5px black;
    color: white;
    font-size: 15px;
    padding: 10px;
    outline: none;
    width: 600px;
    height: 25px;
    outline: 1px solid #22201ec0;
    font-family: Poppins, sans-serif;
    transition: 250ms ease-in-out;
  }
  
  .feedback-section .contacts .contactform input:focus {
    outline: 1px solid rgb(253, 116, 48);
  }
  
  .feedback-section .contacts .contactform form #Message {
    height: 300px;
    border: none;
    border-radius: .3em;
    resize: none;
    background-color: #222222;
    box-shadow: 0 0 5px black;
    color: white;
    font-size: 15px;
    padding: 10px;
    outline: 1px solid #22201ec0;
    font-family: Poppins, sans-serif;
    transition: 250ms ease-in-out;
  }
  
  .feedback-section .contacts .contactform form #Message:focus {
    outline: 1px solid rgb(253, 116, 48);
  }
  
  .feedback-section .contacts .contactform form input:last-child {
    width: fit-content;
    margin: 10px auto;
    height: fit-content;
    padding: 20px;
    color: rgb(253, 116, 48);
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 20px black;
    transition: 250ms ease-in-out;
  }
  
  .feedback-section .contacts .contactform form input:last-child:hover {
    color: white;
    background-color: rgb(253, 116, 48);
  }
  
  .feedback-section .contacts .contactform form input:last-child:focus {
    background-color: rgb(253, 116, 48);
    border: none;
    color: white;
  }
  
  .feedback-section .contacts .successfull {
    background-color: #343230c0;
    color: rgb(91, 177, 91);
    width: fit-content;
    position: fixed;
    top: 100px;
    left: 80%;
    z-index: 1;
    padding: 10px;
    border-radius: .1em;
    box-shadow: 0 0 7px rgb(91, 177, 91);
    width: 200px;
    animation: popup alternate Es ease-in-out;
  
  }